body, html{
margin: 0;
padding: 0;
height: 200px;
}
ul {
  list-style-type: none;
  margin: 50px;
  padding: 20px;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgb(26, 218, 51);
}



header{
padding: 50px;
margin: 20px;
background-color: brown;
}


section img{
width: 50%;
}


h1 {
    text-align: center;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;font-size: medium;
    padding: 50px;
}
div img{
width: 50%;
}
p{
    text-align: center;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;font-size: medium;
    padding: 50px;
}



footer {
padding: 50px;
background-color: darkolivegreen;
}